<!-- SECTION GAME START -->
<section class="mt70">
            <div class="container">
                <div class="row">
                        <div class="title-bl text-center wow fadeIn" data-wow-duration="2s">
                                <div class="title color-white">
                                    AEGIS GAME
                                </div>
                                <div class="subtitle">
                                    PLATFORM
                                </div>
                        </div>
                    <div class="top-bl mt70">
                        <div class="game-img-slider bg-arrow">
                            <div class="image-wrapper">
                                <a href="assets/images/single-game/game1.jpg" data-lightbox="game-slides">
                                    <img src="assets/images/single-game/game1.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-wrapper">
                                <a href="assets/images/single-game/game2.jpg" data-lightbox="game-slides">
                                    <img src="assets/images/single-game/game2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-wrapper">
                                <a href="assets/images/single-game/game3.jpg" data-lightbox="game-slides">
                                    <img src="assets/images/single-game/game3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-wrapper">
                                <a href="assets/images/single-game/game4.jpg" data-lightbox="game-slides">
                                    <img src="assets/images/single-game/game4.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
<!-- SECTION GAME END --> 


<!-- FAQ SECTION START -->
<section class="mt70">
        <div class="container">
            <div class="row">
                <div class="title-bl text-center wow fadeIn" data-wow-duration="2s">
                    <div class="title color-white">
                        AEGIS ROADMAP
                    </div>
                    <div class="subtitle">
                        project progression
                    </div>
                </div>
                <div class="mt30 text-center">
                        Estimated Progression Map of Aegis
                </div>
            </div>
            <div class="row">
                <div class="faq-container mt90">
                    <div class="left-column-1 column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="table">
                            <div class="table-row">
                                <div class="counter-round table-cell valign-top">
                                    <div class="counter-bl">
                                        01
                                    </div>
                                </div>
                                <div class="counter-content table-cell valign-top">
                                    <div class="counter-title">October - January</div>
                                    <div class="counter-text mt25">
                                        Building Prototype for testing market validation and demo version wich user can try and learning from aegis platform
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-column-2 column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="table">
                            <div class="table-row">
                                <div class="counter-content table-cell valign-top text-right">
                                    <div class="counter-title">January - August</div>
                                    <div class="counter-text mt25">
                                        We join the accelerator startup program and compete against other start up 
                                    </div>
                                </div>
                                <div class="counter-round table-cell valign-top">
                                    <div class="counter-bl">
                                        02
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left-column-3 column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="table">
                            <div class="table-row">
                                <div class="counter-round table-cell valign-top">
                                    <div class="counter-bl">
                                        03
                                    </div>
                                </div>
                                <div class="counter-content table-cell valign-top">
                                    <div class="counter-title">August - End 2019</div>
                                    <div class="counter-text mt25">
                                        Searching Seed funding from capitalism investor who have passion in e-sports market 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-column-4 column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="table">
                            <div class="table-row">
                                <div class="counter-content table-cell valign-top text-right">
                                    <div class="counter-title">2020</div>
                                    <div class="counter-text mt25">
                                            Aegis World Online Coaching Alpha Launch / Testing Module

                                            Aegis World Guides Post Production and ready for implementation
                                    </div>
                                </div>
                                <div class="counter-round table-cell valign-top">
                                    <div class="counter-bl">
                                        04
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- FAQ SECTION END -->